In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv')
dados

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [3]:
x = dados[['home','how_it_works','contact']]
y = dados[['bought']]

In [6]:
renomeia = {'how_it_works': 'how_works'}


x = x.rename(columns = renomeia)

In [7]:
x

    home  how_works  contact
0      1          1        0
1      1          1        0
2      1          1        0
3      1          1        0
4      1          1        0
..   ...        ...      ...
94     0          0        1
95     1          1        1
96     0          0        1
97     0          1        0
98     0          0        0

[99 rows x 3 columns]

In [8]:
y

    bought
0        0
1        0
2        0
3        0
4        0
..     ...
94       0
95       1
96       0
97       0
98       0

[99 rows x 1 columns]

In [14]:
treino_x = x[:75] ## chama de 0 até 74
treino_y = y[:75]
teste_x = x[75:] ##chama de 75 em diante
teste_y = y[75:]
teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [28]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [23]:
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

/home/estevaolins/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [27]:

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi {: .2f}%" .format(acuracia))

A acurácia foi  95.83%

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0])

In [58]:
treino_x, teste_x, treino_y,teste_y = train_test_split(x,y,test_size= 0.25)

In [59]:
print("treinaremos com o %d elementos, e testaremos %d elementos " %(len(treino_x), len(teste_x)))

treinaremos com o 74 elementos, e testaremos 25 elementos

In [66]:
treino_x, teste_x, treino_y,teste_y = train_test_split(x,y,test_size= 0.25)
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi {: .2f}%" .format(acuracia))

A acurácia foi  96.00%

/home/estevaolins/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [67]:
##notamos que aqui a porcentagem varia por conta da aleatoriedade da seleção do train_test_split

In [70]:
SEED = 20

In [82]:
treino_x, teste_x, treino_y,teste_y = train_test_split(x,y,random_state= SEED, test_size= 0.25)
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi {: .2f}%" .format(acuracia))

A acurácia foi  96.00%

/home/estevaolins/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)